<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Mission to Mars</title>
</head>

<body class="bg-dark">
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg bg-dark" href="/scrape" role="button">Perform Web Scrape</a></p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center m-4">
            <div class="col-lg-12 bg-light rounded">
                <h1>Latest Mars News</h1>
                <h3>{{mars_info.headline}}</h3>
                <p>{{mars_info.preview}}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-5 bg-light rounded m-1">
                <h1>Featured Mars Image</h1>
                <img class="img-fluid rounded mx-auto d-block" src={{mars_info.featured_image}} alt="Failed to load image">
            </div>
            <div class="col-lg-5 bg-light rounded m-1">
                <h1>Mars Info</h1>
                {{mars_info.Mars_Info_Table | safe}}
            </div>
        </div>
    </div>
    <div class="container-fluid" >
        <div class="row justify-content-center m-4">
            <div class="col-lg-12 bg-light rounded">
                <h1 class="text-center">Mars Hemispheres</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-fluid rounded mx-auto d-block" src={{mars_info.images[0].link}} alt="Failed to load image">
                            <h3>{{mars_info.images[0].title}}</h3>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid rounded mx-auto d-block" src={{mars_info.images[1].link}} alt="Failed to load image">
                            <h3>{{mars_info.images[1].title}}</h3>
                        </div>
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-fluid rounded mx-auto d-block" src={{mars_info.images[2].link}} alt="Failed to load image">
                            <h3>{{mars_info.images[2].title}}</h3>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid rounded mx-auto d-block" src={{mars_info.images[3].link}} alt="Failed to load image">
                            <h3>{{mars_info.images[3].title}}</h3>
                        </div>
                    </div>
            </div>
        </div>
    </div> 
</html>
</body>


